<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>趣做CEO</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/src/dist/css/style.css" />
    <!--<script src="/src/assets/js/lib/zepto.min.js"></script>-->
    <!--<script src="/src/assets/js/lib/pre-loader.js"></script>-->
    <!--<script src="/src/assets/js/lib/reqAnimate.js"></script>-->
    <!--<script src="/src/assets/js/lib/lrz.all.bundle.js"></script>-->
    <!--<script src="/src/assets/js/lib/fabric2.js"></script>-->
    <!--<script src="/src/assets/js/orientation.js"></script>-->
    <!--<script src="/src/assets/js/rem.js"></script>-->
    <!--<script src="/src/assets/js/common.js"></script>-->
    <!--<script src="/src/assets/js/controller.js"></script>-->
    <!--<script src="/src/dist/js/welcome_all.min.js"></script>-->
</head>
<body class="page-home">
<div class="preload">
    <!--<div class="v-content">-->
        <!--&lt;!&ndash;<img src="/src/images/logo.png" alt="lynkco"/>&ndash;&gt;-->
    <!--</div>-->

</div>
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    kkdkdk
</div>
</body>
</html>
