//common setting
.bg{
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  z-index: 1;
  background: url('../../images/bg.jpg') center center no-repeat;
  background-size: cover;
}

//for preload
.preload{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  @include size(100%,100%);
  background-image:url('../../images/bg.jpg');
  background-position:center center ;
  background-repeat: no-repeat;
  background-size: cover;
  img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    @include size(100%,100%);
  }
}

.wrapper{
  opacity: 0;
  &.fadein{
    opacity: 1;
  }
}


//for landing page
#pin-landing{
  color: #fff;
  img{
    position: relative;
    z-index: 1;
  }
  .btn-gonext{
    position: absolute;
    @include size(0.8rem,0.66rem);
    z-index: 2;
    //background: red;
    bottom: 0;
    left: 50%;
    margin-left: -0.4rem;
    text-indent: -999em;
  }
}

//pin-upload
#pin-upload{
  .tips{
    text-align: center;
    img{
      margin: 0.6rem auto 0;
    }
  }
  .upload-wrap{
    position: relative;
    z-index: 1;
    @include size(6.07rem,8.59rem);
    border: #fff 0.14rem solid;
  }
  .btn-upload{
    position: absolute;
    left: 50%;
    top:50%;
    @include transform(translate(-50%,-50%));
  }
  .canvas-container{
    position: absolute !important;
    top: 0;
    left: 0;
    @include size(100%,100%);
  }
  #capture,#capture2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
  }
  .buttons{
    position: absolute;
    bottom: -1rem;
    width: 100%;
    text-align: center;
    .btn-next{
      display: none;
    }
    &.shownext{
      .btn-prev{
        display: none;
      }
      .btn-next{
        display: inline-block;
      }
    }
  }
  .btn-again,.btn-ok,.btn-scorelists,.btn-share,.btn-play{
    width: 1.8rem;
    height: 0.8rem;
    background: url("../../images/buttons.png") no-repeat;
    -webkit-background-size: 2.55rem;
    background-size: 2.55rem;
    text-indent: -999em;
    display: inline-block;
    background-position: 0rem -1.6rem;
  }
  .btn-again{
    position: relative;
    float: left;
    margin-left: 0.3rem;
  }
  .btn-ok{
    float: right;
    margin-right: 0.3rem;
  }
  .btn-playagain{
    width: 1.68rem;
    height: 0.8rem;
    background: url("../../images/btn-playagain.png") bottom center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    text-indent: -999em;
    display: inline-block;
  }
  .btn-play{
    background-position: .3rem -3.4rem;
    width: 2.6rem;
    margin: 0 auto;
    display: block;
  }
  .btn-ok{
    position: relative;
    background-position: 0.3rem -2.4rem;
    float: right;
  }
  .btn-scorelists{
    background-position: 0 -4.98rem;
  }
  .btn-share{
    background-position: 0 -5.82rem;
    width: 2rem;
  }

}


//
#pin-result-lists{
  .btn-close{
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    @include size(0.18rem,0.18rem);
    background: url("../../images/btn-close.png") center center no-repeat;
    background-size: 0.18rem;
    text-indent: -999em;
    padding: 0.2rem;
  }
  .v-content{
    box-sizing: border-box;
    border: #fff 0.14rem solid;
  }
  .result-lists{
    position: absolute;
    left: 0.4rem;
    top: 1rem;
    @include size(5.6rem,2.4rem);
    overflow: auto;
    font-size: 0.32rem;
    .num{
      display: inline-block;
      width: 1rem;
      margin-left: 0.2rem;
    }
    .name{
      display: inline-block;
      width: 3rem;
      text-align: left;
    }
    .score{
      display: inline-block;
      width: 1.1rem;
    }
  }
  #form-contact{
    position: absolute;
    left: 0.4rem;
    top: 4rem;
    .des{
      margin-bottom: 0.3rem;
    }
    input[type="text"],input[type="tel"]{
      border: #fe335d 2px solid;
      @include size(5.16rem,0.7rem);
      line-height: 0.7rem;
      background: transparent;
      font-size: 0.28rem;
      padding: 0 0.2rem;
      box-sizing: border-box;
      color: #fff;
    }
    .input-box{
      margin-bottom: 0.2rem;
    }
  }
  .btn-submit{
    width: 1.6rem;
    height: .8rem;
    background: url(../../images/buttons.png) 0rem -4.2rem no-repeat;
    -webkit-background-size: 2.55rem;
    background-size: 2.55rem;
    text-indent: -999em;
    display: inline-block;
    float: right;
  }
  .tips-success{
    display: none;
  }
  .hasinfo{
    .tips-success{
      display: block;
      img{
        margin: 1rem auto 0;
      }
    }
    .form-information{
      display: none;
    }
  }
}

//for share
.share-pop{
  img{
    position: absolute;
    right: 0.45rem;
    top: 0.45rem;
  }
}